<html>
  <head>   </head>
  <body>
    {{ registrationForm.value | json }}
    <form [formGroup]="registrationForm"  (ngSubmit)="onSubmit()" >
      <table>
        <thead></thead>
        <tbody>
          <tr>
            <td>Username</td>
            <td>
              <div class="form-group">
                <input formControlName="userName"    type="text" class="form-control" /> 
                <br> <span class="error" *ngIf="userName && userName.invalid && (userName.dirty || userName.touched)" >User Name is invalid</span>
              </div>
            </td>
          </tr>
          <tr>
            <td>Enter Number</td>
            <td>
              <div class="form-group">
                <input formControlName="val" type="number"  class="form-control" />
                <br> <span class="error" *ngIf="val && val.invalid && (val.dirty || val.touched)" >Contact  is invalid</span>
              </div>
            </td>
          </tr>
          <tr>
            <td>Password</td>
            <td>
              <div class="form-group">
                <input formControlName="password"  type="password"  class="form-control"  />
                <br> <span class="error" *ngIf="password && password.invalid && (password.dirty || password.touched)" >password  is invalid</span>
              </div>
            </td>
          </tr>
          <tr>
            <td>Confirm Password</td>
            <td>
              <div class="form-group">
                <input formControlName="confirmPassword" type="password" class="form-control" />
                <br> <span class="error" *ngIf="confirmPassword && confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)" >password  is invalid</span>
               <small> status : {{matchedPassword}} </small>
              </div>
            </td>
          </tr>
          <tr>
            <td>City</td>
            <td>
              <div class="form-group">
                <input formControlName="city" type="text"  class="form-control" />
                <br> <span class="error" *ngIf="city && city.invalid && (city.dirty || city.touched)" >City  is invalid</span>
              </div>
            </td>
          </tr>
          <tr>
            <td>Country</td>
            <td>
              <div class="form-group">
                <input formControlName="country" type="text" class="form-control" />
                <br> <span class="error" *ngIf="country && country.invalid && (country.dirty || country.touched)" >country  is invalid</span>
              </div>
            </td>
          </tr>
          <tr>
            <td>Code</td>
            <td>
              <div class="form-group">
                <input formControlName="code" type="text" class="form-control"/>
                <br> <span class="error" *ngIf="code && code.invalid && (code.dirty || code.touched)" >code  is invalid</span>
              </div>
            </td>
          </tr>      
        </tbody>
      </table>
      <button class="btn btn-primary" type="submit">Submit</button>
    </form>
  </body>
</html>
